@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
}

p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: "Work Sans", sans-serif;
    font-weight: normal;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    width: 60%;
    margin: 0 auto 20px auto;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="tel"] {
    margin-bottom: 0;
}

input:invalid, select:invalid, textarea:invalid {
    border-color: red;
}

input:valid, select:valid, textarea:valid {
    border-color: green;
}

div {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px auto;
    display: block;
}

button:hover {
    background-color: #218838;
}